/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* ============== MOBILE HEADER STYLES ============== */
.menu {
    display: none;
}

.contacts {
    display: none;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio-black {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}



@media screen and (max-width: 767px) {
    .page-header {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    
    .mobile-menu-open-btn {
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
            fill: #2F2F37;
        }
    
        .mobile-menu-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999999;
            width: 100%;
            height: 100%;
            background-color: #FFF;
            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .mobile-menu-wrapper.is-open {
            transform: translateX(0%);
        }
    
        .mobile-menu-container {
            position: relative;
            padding: 72px 24px 40px 16px;
        }
    
        .mobile-menu-close-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 24px;
            right: 8px;
            background-color: transparent;
            padding: 0;
            line-height: 0;
            width: 24px;
            height: 24px;
            fill: #2E2F42;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    
        .mobile-menu-close-btn:hover,
        .mobile-menu-close-btn:focus {
            fill: #FFFFFF;
            background-color: #404BBF;
            border: none;
        }
    
        .mobile-menu-navigation {
            margin-bottom: 168px;
            gap: 40px;
        }
    
        .mobile-menu-navigation-list {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 40px;
        }
    
        .mobile-menu-navigation-link {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2E2F42;
        }
    
        .accent-ocean {
            color: #404BBF;
        }
    
        .mobile-menu-contacts {
            margin-bottom: 48px;
        }
    
        .mobile-menu-contacts-list {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 24px;
        }
    
        .mobile-menu-contacts-link {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            /* 120% */
            letter-spacing: 0.02em;
            color: #434455;
        }
    
        .accent-iris {
            color: #4D5AE5;
        }
    
        .mobile-menu-social-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    
        .mobile-menu-social-list-item {
            width: 40px;
            height: 40px;
        }
    
        .mobile-menu-social-list-link {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #4D5AE5;
            width: 100%;
            height: 100%;
        }
    
        .mobile-menu-social-list-icon {
            fill: #F4F4FD;
            margin: 8px;
        }
}

/* ============== /END OF MOBILE HEADER STYLES ============== */

/* ============== TABLET HEADER STYLES ============== */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .mobile-menu-open-btn {
        display: none;
    }

    .mobile-menu-wrapper {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        line-height: 0;
    }

    .contacts {
        display: flex;
    }

    .page-header {
        padding: 0;
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }

    .page-navigation {
        display: flex;
        align-items: center;
    }

    .menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #2E2F42;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404BBF;
    }

    .current {
        position: relative;
        color: #404BBF;
    }

    .menu-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        margin-top: 20px;
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404BBF;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .menu {
        margin-left: 120px;
    }
    
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        font-size: 12px;
        font-style: normal;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* ============== /END OF TABLET HEADER STYLES ============== */
/* ============== DESKTOP HEADER STYLES ============== */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
        .page-header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .menu {
            margin-left: 76px;
        }
    
        .contacts-list {
            display: flex;
            gap: 40px;
        }
    
        .contacts-link {
            font-size: 16px;
            line-height: 1.5;
            /* 150% */
            letter-spacing: 0.02em;
            color: #434455;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

}
/* ============== /END OF DESKTOP HEADER STYLES ============== */

/* ============== Mobile Section 1 ============== */
.first-section,
.page-footer {
    background-color: #2E2F42;
}

.first-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.main-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background: #404BBF;
}


@media screen and (max-width: 767px) {
    .first-section {
        padding: 72px 0;
        max-width: 320px;
        height: 432px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/img10-mobile.jpg);
          
    }

    .main-title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            text-align: center;
            text-transform: capitalize;
            max-width: 169px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 72px;

    }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/img10-mobile@2x.jpg);
    }
}



/* ============== /End of Mobile Section 1 ============== */

/* ============== Tablet Section 1 ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .main-title {
            margin-bottom: 36px;
        }
}

@media screen and (min-width: 768px) {
    .first-section {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/img10-tablet.jpg);        
    }
    
    .main-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/img10-tablet@2x.jpg);
    }
}

/* ============== /End of Tablet Section 1 ============== */

/* ============== Desktop Section 1 ============== */
@media screen and (min-width: 1158px) {
    .first-section {
            padding: 188px 0;
            max-width: 1440px;
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/img10-desktop.jpg);
            
        }

    .main-title {
            margin-bottom: 48px;
        }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/img10-desktop@2x.jpg);
    }
}

/* ============== /End of Desktop Section 1 ============== */
/* ============== Mobile Section 2 ============== */

.advantage-title,
.team-title,
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

   .advantage-text {
       font-size: 16px;
       line-height: 1.5;
       /* 150% */
       letter-spacing: 0.02em;
       color: #434455;
   }

   .advantage-text-title {
       margin-bottom: 8px;
   }
   
   .advantage-list {
       display: flex;
   }

@media screen and (max-width: 1157px) {
    .advantage-svg {
        display: none;
    }

    .advantage-text-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
            /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        }

    .advantage-text {
        font-weight: 500;
    }

    .advantage-list {
        gap: 72px;
        padding: 96px 0;
        }
}

@media screen and (max-width: 767px) {
    .advantage-text-title {
        text-align: center;
        }
    
    .advantage-list {
        flex-direction: column;
        align-items: flex-start;
        }
}


/* ============== /End of Mobile Section 2 ============== */
/* ============== Tablet Section 2 ============== */
@media screen and (min-width: 768px) {
    .advantage-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 0;
    }

    .advantage-item {
        width: calc((100% - 24px)/2);
    }

}


/* ============== /End of Tablet Section 2 ============== */
/* ============== Desktop Section 2 ============== */
@media screen and (min-width: 1158px) {
    .advantage-text-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
            /* 120% */
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

    .advantage-list {
       gap: 24px;
       padding: 120px 0;
 }
    
    .advantage-item {
        width: calc((100% - 72px)/4);
    }

    .advantage-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        fill: #2E2F42;
        margin-bottom: 8px;
    }
}

/* ============== /End of Desktop Section 2 ============== */
/* ============== Mobile Section 3 ============== */
.third-section {
    background-color: #F4F4FD;
}

.team-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
}

.team-item {
    max-width: 264px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-text-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
            /* 120% */
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
        /* 150% */
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.card-info {
    width: 264px;
    padding: 32px 0;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-list-item {
    width: 40px;
    height: 40px;
}

.team-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-icon {
    fill: #F4F4FD;
    margin: 12px;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: #404BBF;
}

@media screen and (max-width: 1157px) {
    .third-section {
        padding: 96px 0;
    }

    
}

@media screen and (max-width: 767px) {
    .team-container {
        width: 296рх;
    }
    
    .team-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;      
        gap: 72px;
    }

    

}



/* ============== /End of Mobile Section 3 ============== */
/* ============== Tablet Section 3 ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {}

@media screen and (min-width: 768px) {
    .team-container {
        min-width: 584px;
    }
    
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px)/2);
    }

}



/* ============== /End of Tablet Section 3 ============== */
/* ============== Desktop Section 3 ============== */
@media screen and (min-width: 1158px) {
    .third-section {
        padding: 120px 0;
    }
   
    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 72px)/4);   
    }
}


/* ============== /End of Desktop Section 3 ============== */
/* ============== Mobile Section 4 ============== */
.portfolio-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card {
    padding: 32px 16px;
    border-top: none;
}

.portfolio-text-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}    

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    color: #F4F4FD;
    background: #4D5AE5;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-item-text-overlay {
    transform: translateY(0%);
}

@media screen and (max-width: 1157px) {
    .fourth-section {
       padding: 96px 0;
    }

    .portfolio-card {
       border: 1px solid #F4F4FD;
       box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
}
@media screen and (max-width: 767px) {
    .portfolio-container {
        width: 320рх;
    }

    .portfolio-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }
    .portfolio-list-item {
        max-width: 288px;
    }

    .portfolio-card {
        width: 288px;
    }

}

/* ============== /End of Mobile Section 4 ============== */
/* ============== Tablet Section 4 ============== */
@media screen and (min-width: 768px) {

.portfolio-container {
        min-width: 768px;
    }

.portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
}

.portfolio-list-item {
    width: calc((100% - 24px)/2);
}

.portfolio-card {
    width: 356px;
}

}


/* ============== /End of Tablet Section 4 ============== */
/* ============== Desktop Section 4 ============== */
@media screen and (min-width: 1158px) {

    .fourth-section {
        padding: 120px 0;
    }

    .portfolio-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-card {
        width: 360px;
        border: 1px solid #e7e9fc;
    }

}

/* ============== /End of Desktop Section 4 ============== */
/* ============== Mobile Footer ============== */
.studio-white {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    height: 24px;
}


.footer-text {
    color: #F4F4FD;
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-icons-text,
.footer-subscribe-text {
    font-weight: 500;
    color: #FFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon {
    fill: #F4F4FD;
    margin: 8px;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31D0AA;
}

.footer-subscribe-input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    /* 200% */
    letter-spacing: 0.04em;
}

.footer-subscribe-input::placeholder {
    color: #FFFFFF;
}

.footer-subscribe-btn {
    display: inline-flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background: #404BBF;
}

.footer-subscribe-btn-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

@media screen and (max-width: 1157px) {
    .footer-container {
        padding: 96px 0;
    }
}
@media screen and (max-width: 767px) {

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
       display: flex;
       justify-content: center;
    }
    
    .footer-logotype {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .footer-text {
       max-width: 288px;
       margin-bottom: 72px;
    }

    .footer-icons-text,
    .footer-subscribe-text {
       text-align: center;
    }


    .footer-social-list {
       margin-bottom: 72px;
    }

    .footer-subscribe-form {
       text-align: center;
    }

    .footer-subscribe-input {
       width: 288px;
       margin-bottom: 16px;
       opacity: 0.3;
    }

    .footer-subscribe-input::placeholder {
       opacity: 0.6;
    }
        
}


/* ============== /End of Mobile Footer ============== */
/* ============== Tablet Footer ============== */
@media screen and (min-width: 768px) {
    
    .footer-container {
        width: 584px;
        display: flex;
        align-items: first baseline;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        }
    
    .footer-text {
        max-width: 264px;
    }

    .footer-subscribe-form {
       display: flex;
       gap: 24px;
    }

    .footer-subscribe-input {
        width: 264px;
        opacity: 0.3;
    }

    .footer-subscribe-input::placeholder {
        opacity: 0.6;
    }
}



/* ============== /End of Tablet Footer ============== */
/* ============== Desktop Footer ============== */
@media screen and (min-width: 1158px) {
.page-footer {
        padding: 100px 0;
    }

.footer-container {
    width: 1158px;
}

.logo-footer {
    display: inline-block;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logotype {
    margin-right: 120px;
}

.footer-icons {
    margin-right: auto;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    opacity: 1;
}

.footer-subscribe-input::placeholder {
    opacity: 1;
}

}



/* ============== /End of Desktop Footer ============== */















