/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ============== HEADER STYLES ============== */
.page-navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.contacts {
    display: flex;
    gap: 40px;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
}

.studio-black {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#2E2F42;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.current {
        position: relative;
        color: #404BBF;
}

.menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    margin-top: 20px;
}

.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
        font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* ============== Section 1 ============== */
/* section 1 and footer*/
.first-section,
.page-footer {
        background-color: #2E2F42;
}

.first-section {
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
    url(../images/img10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}

.main-button {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        padding: 16px 32px;
        border-radius: 4px;
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 169px;
        height: 56px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background: #404BBF;
}



/* ============== Section 2 ============== */
/* section 2 and 3 and 4 */
.advantage-title,
.team-title,
.portfolio-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
    }
    
    .text-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .text {
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: #434455;
    }

    .advantage-list {
        display: flex;
        gap: 24px;
    }

    .advantage-item {
        width: calc((100% - 72px)/4);
    }

    .advantage-text-title {
        margin-bottom: 8px;
    }

.advantage-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        fill: #2E2F42;
        margin-bottom: 8px;
}


/* ============== Section 3 ============== */
.third-section {
       background-color: #F4F4FD;
}

.team-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px)/4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-info {
    width: 264px;
    padding: 32px 0;
}

.team-text-title,
.team-text {
    text-align: center;
}

.team-text-title {
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-list-item {
    width: 40px;
    height: 40px;
}

.team-social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-icon {
    fill: #F4F4FD;
    margin: 12px;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: #404BBF;
}

/* ============== Section 4 ============== */

.portfolio-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

 .portfolio-card {
     width: 360px;
     padding-bottom: 32px;
     padding-left: 16px;
     padding-right: 16px;
     padding-top: 32px;
     border: 1px solid #e7e9fc;
     border-top: none;
 }

 .portfolio-text-title {
     margin-bottom: 8px;
 }

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    color: #F4F4FD;
    background: #4D5AE5;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-item-text-overlay {
    transform: translateY(0%);    
}

/* ============== FOOTER ============== */

.studio-white {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    max-width: 264px;
}

.page-footer {
    padding: 100px 0;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    height: 24px;
    margin-bottom: 16px;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logotype {
    margin-right: 120px;
}


.footer-icons-text,
.footer-subscribe-text {
    font-weight: 500;
    color: #FFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon {
    fill: #F4F4FD;
    margin: 8px;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31D0AA;
}

.footer-icons {
    margin-right: auto;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
        /* 200% */
    letter-spacing: 0.04em;
}



.footer-subscribe-input::placeholder {
    color: #FFFFFF;
}

.footer-subscribe-btn {
    display: inline-flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
        /* 150% */
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background: #404BBF;
}

.footer-subscribe-btn-icon {
     fill: #FFFFFF;
     margin-left: 16px;
}


/* ============== BACKDROP ============== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ============== MODAL WINDOW ============== */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    fill: #2E2F42;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.connection-form-description {
    width: 360px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
        /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}

.connection-form-field-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.connection-form-field-input:focus {
    border: 1px solid #4D5AE5;
}

.connection-form-field-input:focus + .connection-form-input-icon {
    fill: #4D5AE5;
}

.connection-form-field-wrapper {
    margin-bottom: 8px;
}

.comment-container {
    margin-bottom: 16px;
}

.connection-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
        /* 116.667% */
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.connection-form-input-wrapper {
    position: relative;
}

.connection-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
        /* 116.667% */
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.connection-form-comment:focus {
    border: 1px solid #4D5AE5;
}

.connection-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.connection-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    fill: transparent;
}

.connection-form-checkbox:checked
+ .connection-form-checkbox-label
> .connection-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.connection-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}

.connection-form-checkbox:checked
+ .connection-form-checkbox-label
.connection-form-own-checkbox-icon {
    opacity: 1;
}

.connection-form-checkbox:focus+.connection-form-checkbox-label>.connection-form-own-checkbox {
    outline: 1px solid rgba(0, 0, 255, 0.5);
}

.connection-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
        /* 116.667% */
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.connection-form-accent-color {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;
}

.connection-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.connection-form-submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
        /* 150% */
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection-form-submit-btn:hover,
.connection-form-submit-btn:focus {
    background: #404BBF;
}



